body{margin:0;font-family:Arial;background:#0f0f0f;color:#f5f5f5}
header{text-align:center;padding:80px;background:#000}
.btn{background:gold;color:#000;padding:12px 30px;text-decoration:none;font-weight:bold}
section{max-width:800px;margin:auto;padding:50px}
form input,form select,form textarea,form button{width:100%;padding:12px;margin:10px 0}
form button{background:gold;border:none;font-weight:bold;cursor:pointer}
footer{text-align:center;padding:20px;background:#000}
